.question__image {
  width: 300px;
  height: 300px;
  display: block;
}
.answers {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 10px;
}
.variant__button {
  width: 30px;
}
